@import "variables";
@import "mixin";

header#gal-header {
  font-size: 14px;
  background: none;
  & .navbar-toggle {
    @include block-item();
    &:hover, &:focus {
    }
    .fa-reorder {
      color: #fff;
    }
  }
  & #menu-gal {
    & > li > a {
      color: #fff;
    }
    & > li > a > i {
      padding-right: 0.35em;
    }
    & > li.current > a {
        color: #666666;
        background-color: #c4c4c4;
    }
    & > li:not(.current) {
      & > a:hover, & > a:focus {
        @include gal-transition($duration: .25s);
        color: #666666;
        background-color: #c4c4c4;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar-collapse > .navbar-nav {
    @include block-item();
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}