@import "variables";
@import "mixin";

#gal-pagination {
  .pagination-gal {
    margin: 0;
    border-radius: 4px;
    > li > a, > li > span {
      @include block-item();
      margin-left: 10px;
      border-image: initial;
      &:hover, &:focus {
        @include highlight-item();
        border-image: initial;
        @include gal-transition($duration: 0.3s);
      }
    }


    > li.current > span {
      color: #fff;
      background-color: $pagination-active-color;
      border-image: initial;
      @include gal-transition($duration: 0.3s);
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
      margin-top: -15px;
    }
  }
}